{% load static %}
<div id="model-container">
    <div id="model-table" class="scrollbar-info">
        <div class="table-title"><h4>Sources</h4></div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                </tr>
            </thead>
            <tbody>
                {% for model in models %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                    <td>
                        <div title="getPollsBySourceName" class="link-redirect" onclick="get_source_polls('getPollsBySourceName', '{{ model.name }}')">{{ model.name }}</div>
                    </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
